/**
 * 26.4
 */
@import "tailwindcss";

html, body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

#root {
  max-width: 680px;
  margin: 0px auto;
  padding: 20px 30px;
}
